<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head")%>
</head>
<body>
	<!-- Header -->
	
	<%- include("./partials/header")%>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">ASICS® GEL-NYC</h2> 
			<p class="product-edit">
				<a class="product-edit" href="/cargarproductos">Editar producto</a>
			</p>
		</div>
	</div>
	<div class="product-detail">
		<div class="row">
			<article class="col-12 col-lg-8 product-detail-info">
				<img src="<%= productos[0].imagen %>" alt="" class="product-detail-img">
				<p class="product-detail-description"> <%= productos[0].descripcion %></p>
			</article>
			<div class="col-12 col-lg-4">
				<section class="comentarios">
					<% for (let index = 0; index < productos[0].comentarios.length; index++) { %>
						<article>
							<img src=" <%= productos[0].comentarios[index].imagenPerfil %>" alt="">
							<div class="info">
								<p class="usuario" >
									<strong><a href="/perfil"><%= productos[0].comentarios[index].usuario %></a></strong>
									<%= productos[0].comentarios[index].texto %>
								</p>
							</div>
						</article>
					<% } %>
				</section>
	
				<form class="form" action="/product" method="get">
					<input class="form-input" type="text" value="" placeholder="Agregar comentario">
					<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
				</form>
				<hr>
			</div>
		</div>
	</div>
	
	<!-- /product detail -->
	<!-- footer -->
	<%- include("./partials/footer")%>
	<!-- /footer -->

</body>	
</html>